@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}