@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .section {
      @apply py-44 max-lg:py-28 max-sm:py-20 max-[375px]:py-14
   }

   .nav-link {
      @apply max-lg:text-2xl text-base font-bold text-primary hover:text-mint transition-colors duration-300;
   }

   .underline-hover {
      @apply relative after:content-[''] after:absolute after:left-0 after:-bottom-1 after:w-0 after:h-[2px] after:bg-mint after:transition-all after:duration-300 hover:after:w-full;
   }

   .subtext {
      @apply font-ytl text-4xl font-normal text-mint max-md:text-3xl max-sm:text-2xl
   }

   .title {
      @apply font-extrabold text-primary text-5xl max-md:text-4xl leading-normal max-md:leading-relaxed
   }

   .sm-title {
      @apply text-primary text-2xl font-extrabold
   }

   .text {
      @apply text-lg font-osans text-darkGrey leading-relaxed font-normal max-md:text-base
   }
}